In [1]:
import pandas as pd
import numpy as np
from IPython.display import display
import matplotlib.pyplot as plt
import matplotlib.patches as mpatches
plt.style.use('seaborn-whitegrid')
pd.set_option("display.precision", 5)

In [2]:
# magic to reload modules automatically
%load_ext autoreload
%autoreload 2

In [3]:
ff = pd.read_excel('data/5factors.xlsx')
rt = pd.read_excel('data/north.xlsx' , skiprows=3)
esg = pd.read_excel('data/north31.xlsx', skiprows=3)
print(rt.shape)
print(esg.shape)
print(ff.shape)

(2352, 124)
(12, 739)
(8261, 7)

In [4]:
pd.set_option('display.max_columns',735) # I want to see all the columns
pd.set_option('display.max_rows',735)

In [5]:
ff.rename(columns = {'Unnamed: 0' : 'date'}, inplace=True)
ff['date'] = pd.to_datetime(ff['date'], format='%Y%m%d')
filt = (ff['date'] >= pd.to_datetime('2013-04-03')) & (ff['date'] <= pd.to_datetime('2022-02-28'))
ff = ff[filt]
ff.reset_index(inplace = True, drop = True)

In [6]:
rt.drop(index=[0,1,2], inplace=True)
rt.reset_index(inplace = True, drop = True) # Drop old index too

In [7]:
it = rt.copy()
it.to_excel('it.xlsx')

In [8]:
rt.rename(columns={'Unnamed: 0':'date'},inplace = True) 
xx = ['1COV GY Equity','DTG GY Equity','SINCH SS Equity',
                 'SHL GY Equity','NEL NO Equity','DHER GY Equity',
                 'HFG GY Equity','LIN GY Equity','NETS DC Equity',
                 'DAX Index','OMXS30B Index','OMXC25 Index','OMX Index']
drop_these = []
for i in xx:
    for j in range(1,6):
        drop_these.append(i + '.' + str(j))
drop_these = xx + drop_these
rt.drop(columns=xx, inplace = True)

In [9]:
rt.columns = rt.columns.str.replace(' GY', ' G')
rt.columns = rt.columns.str.replace(' SS', ' S')
rt.columns = rt.columns.str.replace(' NO', ' N')
rt.columns = rt.columns.str.replace(' DC', ' D')
rt.columns = rt.columns.str.replace(' Equity', '')
rt.columns = rt.columns.str.replace(' ', '_')

In [10]:
rt['date'] = pd.to_datetime(rt['date'])
#rt.set_index('date',inplace = True)

In [11]:
esg.drop(columns=drop_these,inplace = True) 
esg.drop(index=[0,2], inplace=True)
esg.rename(columns={'Unnamed: 0':'Date'},inplace = True) 
esg.reset_index(inplace = True, drop = True)

In [12]:
esg.replace({'ESG_DISCLOSURE_SCORE': 'ESG', 'ENVIRON_DISCLOSURE_SCORE': 'E',
             'SOCIAL_DISCLOSURE_SCORE': 'S','GOVNCE_DISCLOSURE_SCORE': 'G',
             'HISTORICAL_MARKET_CAP' : 'HMCAP', 'CUR_MKT_CAP': 'MCAP'}, inplace=True)

In [13]:
asg = esg.iloc[1] + ' ' + esg.iloc[0]
esg = esg.append(asg, ignore_index=True)
esg.loc[10,'Date'] = 'date'
nnn = esg.loc[10]
esg.rename(columns=nnn, inplace=True)
esg.drop(index=[0,1,10], inplace=True)
esg.reset_index(inplace = True, drop = True)

In [14]:
esg.columns = esg.columns.str.replace(' GY', ' G')
esg.columns = esg.columns.str.replace(' SS', ' S')
esg.columns = esg.columns.str.replace(' NO', ' N')
esg.columns = esg.columns.str.replace(' DC', ' D')
esg.columns = esg.columns.str.replace(' Equity', '')
esg.columns = esg.columns.str.replace(' ', '_')
esg.set_index('date', inplace=True)

In [15]:
esg_esg = esg.loc[:,'ADS_G_ESG':'VWS_D_ESG']
esg_esg.columns = esg_esg.columns.str.replace('_ESG', '')

In [16]:
for i in rt.columns[1:]:
    rt.loc[:,i] = rt.loc[:,i].pct_change(1)*100
rt.drop(index=[0], inplace=True)

In [17]:
nyind = []
for i in esg_esg.index:
    nyind.append(str(i)+ '_esg')
esg_esg.index = nyind

In [24]:
esg_esg.index

Index(['2014_esg', '2015_esg', '2016_esg', '2017_esg', '2018_esg', '2019_esg',
       '2020_esg', '2021_esg'],
      dtype='object')

In [280]:
for i in esg_esg.index:
    for year in range(2013, 2023):
        
        rtt = pd.concat([rt, esg_esg.iloc[i,:]])

In [ ]:

I_sum = I.sum()
Ii_sum = Ii.sum() + I_sum
Iii_sum = Iii.sum() + Ii_sum

print(Ii_sum)
#thirteen.iloc[:, 1:I.sum()]
#thirteen.iloc[:, I_sum:Ii_sum]

In [ ]:
year_dfs = {}

for year in range(2013, 2023):
    filt = (rtt['date'] >= pd.to_datetime('2014-01-01')) & (rtt['date'] <= pd.to_datetime('2014-12-31')) 
    fourteen = rtt[filt]
    fourteen = pd.concat([fourteen, esg_esg])
    fourteen = fourteen.replace(0, np.nan)
    fourteen.dropna(how='all', axis='columns', thresh=100, inplace=True)
    fourteen = fourteen.replace(np.nan, 0)
    fourteen.sort_values(by = '2014_esg', axis = 1, na_position ='first', inplace=True)

    #  2014
    #. low
    fourteen_l = fourteen.loc[196:456,'date':'PUM_G']
    for i in fourteen_l.index:
         tl_m.append(fourteen_l.loc[i,'AMBUB_D':'PUM_G'].mean())

    # mid
    fourteen_m = fourteen.loc[196:456,'date':'SKFB_S']
    fourteen_m = fourteen_m.loc[:,'DEMANT_D':'SKFB_S']
    for i in fourteen_m.index:
         tl_mm.append(fourteen_m.loc[i,'DEMANT_D':'SKFB_S'].mean())

    # high
    fourteen_h = fourteen.loc[196:456,'date':'NHY_N']
    fourteen_h = fourteen_h.loc[:,'ORK_N':'NHY_N']
    for i in fourteen_h.index:
         tl_mmm.append(fourteen_h.loc[i,'ORK_N':'NHY_N'].mean())
            
    year_dfs[year] =