In [24]:
import pandas as pd
import numpy as np
from IPython.display import display
import matplotlib.pyplot as plt
import matplotlib.patches as mpatches
plt.style.use('seaborn-whitegrid')

In [25]:
# magic to reload modules automatically
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [26]:
rt = pd.read_excel('rt.xlsx')
it = pd.read_excel('it.xlsx')
ff = pd.read_excel('ff.xlsx')
print(rt.shape)
print(it.shape)
print(ff.shape)

(2348, 115)
(2349, 125)
(2324, 8)

In [27]:
it = it.loc[:,['Unnamed: 0.1','DAX Index','OMXS30B Index','OMXC25 Index','OMX Index']]

In [28]:
for i in it.columns[1:]:
    it.loc[:,i] = it.loc[:,i].pct_change(1)*100
it.drop(index=[0], inplace=True)

In [29]:
it

     Unnamed: 0.1  DAX Index  OMXS30B Index  OMXC25 Index  OMX Index
1      2013-04-03  -0.870105      -0.553682      0.173733  -0.553682
2      2013-04-04  -0.728404      -1.692732     -1.478941  -1.692732
3      2013-04-05  -2.029322      -1.202019     -1.516705  -1.202019
4      2013-04-08   0.050792      -0.337101      0.598748  -0.337101
5      2013-04-09  -0.327955       0.924583      0.019199   0.924583
...           ...        ...            ...           ...        ...
2344   2022-03-28   0.780175       0.873953      1.831459   0.874001
2345   2022-03-29   2.794962       1.385928      0.836220   1.385692
2346   2022-03-30  -1.445852      -1.117723      1.330718  -1.117539
2347   2022-03-31  -1.309731      -1.649064     -0.500864  -1.648923
2348   2022-04-01   0.446348       0.619520      0.494987   0.619519

[2348 rows x 5 columns]

In [30]:
rt

,Unnamed: 0,date,ADS_G,AIR_G,ALV_G,BAS_G,BAYN_G,BMW_G,BNR_G,CON_G,...,ORSTED_D,PNDORA_D,ROCKB_D,RBREW_D,SIM_D,TRYG_D,VWS_D,port_low,port_mid,port_high
0,1,2013-04-03,-0.379855,-1.968169,-1.745521,-0.316456,0.024697,0.058522,1.674641,0.956084,...,NaN,0.534759,-0.070922,0.192308,0.191205,-0.337627,-0.898876,0.233169,-0.371311,-0.496540
1,2,2013-04-04,-1.549815,-2.639732,-0.187003,-0.432900,-0.862952,-1.199006,-3.216471,-3.241575,...,NaN,-1.536643,-1.348474,-1.343570,-1.717557,-0.444892,-1.587302,-0.920547,-1.316268,-1.181367
2,3,2013-04-05,-1.549225,-2.940428,-1.358314,-3.086957,-3.100795,-1.864733,-1.983809,-1.576481,...,NaN,-3.661465,-0.719424,-2.723735,-1.941748,-2.148304,-3.341014,-1.770166,-1.692535,-1.702625
3,4,2013-04-08,-0.101523,1.718033,-0.522317,-0.254225,2.554876,-0.015081,0.535754,-1.536178,...,NaN,0.249221,0.579710,1.000000,1.980198,0.456691,7.794994,0.708985,0.146748,0.381140
4,5,2013-04-09,-2.121443,-2.978339,0.334129,0.314843,-0.948622,-0.603318,-0.616781,-1.100392,...,NaN,0.683654,1.657061,-1.188119,0.776699,0.410127,-1.348961,0.197067,-0.081925,0.313736
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2343,2344,2022-03-28,0.164745,0.241726,0.679794,1.621309,0.478390,0.449352,0.374131,0.892170,...,1.704835,1.715375,-0.994380,3.177629,0.928543,-0.433974,-1.522310,1.021748,1.317400,0.640508
2344,2345,2022-03-29,2.349624,5.379336,1.769499,4.539411,1.740273,5.610941,1.038339,10.093002,...,0.025019,3.622736,4.716157,2.525408,2.440000,-0.031133,1.332623,1.003842,2.249886,1.657003
2345,2346,2022-03-30,-0.642792,-2.235522,-1.029513,-3.179506,-0.161368,-2.868208,-2.555995,-6.633430,...,2.801401,-1.084991,-3.544621,-0.931211,-1.405701,1.837434,5.681220,0.071002,-0.803416,-0.047681
2346,2347,2022-03-31,-2.079482,-0.756212,0.115580,-2.871083,0.371747,-2.068278,-0.838291,-2.996144,...,3.309002,-1.340646,-3.501946,-4.123711,-1.584158,0.458716,-0.572424,-1.139437,-1.484191,-0.906121
2347,2348,2022-04-01,-0.117980,0.453556,1.154468,1.680835,1.046699,1.272265,-1.172621,2.477064,...,-0.989166,0.308833,1.209677,-0.158128,-0.442656,0.517504,5.256571,0.752453,0.771742,0.668957